<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
    <title>Lista de Tarefas</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 id="title">TO-DO LIST</h1>
        </div>

        <div id="todoList">
        </div>

        <div class="todo__new-item">
            <div>&and;</div>
            <input id="newItem" type="text" placeholder="Digite e pressione enter para adicionar a tarefa">
            <div>&and;</div>
        </div>
    </div>


    <script src="/js/script.js"></script>
</body>
</html>